:root{
    --body-bg: #1c1c1c;
    --card-bg: #23252C;
    --info-bg: #1A1B21;
    --footer-bg: #161619;
    --name-color: #ffffff ;
    --sec-color: #F5F5F5;
    --p-color: #DCDCDC;
    --icon-color: #918E9B;

}
.dark-mode:root{
    --body-bg: #1c1c1c;
    --card-bg: #23252C;
    --info-bg: #F5F5F5;
    --footer-bg: #D5D4D8;
    --name-color: #2B283A ;
    --sec-color: #2B283A;
    --p-color: #4A4E74;
    --icon-color: #918E9B;
}

.container-about {
    background-color: var(--info-bg);
    width: 317px;
    margin: auto;
}

.main-about {
    padding: 25px 35px;
}

.titulo {
    padding: 10px 0;
    margin: auto;
    color: var(--sec-color);
}

.conteudo {
    color: var(--p-color);
    font-family: 'Inter';
    line-height: 150%;
    font-size: small;
}