.container-footer {
    background-color: #161619;
    width: 317px;
    margin: auto;
    color: #918E9B;
}

.footer-icons {

    padding: 20px 0;
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.icon-- {
    color:#918E9B;
}