*{
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body{
    padding: 30px 0;
    background-color: #1c1c1c;
}

.main-app{
    background-color: #23252C;
    max-width: 550px;
    margin: 0 auto;
    padding: 30px 0;
}